<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FamilyEditorInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FamilyEditorInterface.Properties.Settings>
            <setting name="Precision" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AssociatedVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="ToggleVisibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleTagsVisibility" serializeAs="String">
                <value>False</value>
            </setting>
        </FamilyEditorInterface.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
